apiVersion: kops.k8s.io/v1alpha2
kind: InstanceGroup
metadata:
    name: frontend
    labels:
        kops.k8s.io/cluster: clobee.k8s.local
spec:
    role: Node
    minSize: 2
    maxSize: 2
    instanceType: t3.micro
    subnets:
        - clobee-vpc-public-subnet-1
        - clobee-vpc-public-subnet-2
    nodeLabels:
        role: frontend
    additionalSecurityGroups:
        - ${TF_VAR_APP_FE_SG_ID}
    iam:
        profile: ${TF_VAR_FLUENTD_PROFILE_ARN}
