apiVersion: kops.k8s.io/v1alpha2
kind: InstanceGroup
metadata:
    name: fluentd
    labels:
        kops.k8s.io/cluster: clobee.k8s.local
spec:
    role: Node
    minSize: 1
    maxSize: 1
    instanceType: t3.small
    subnets:
        - clobee-vpc-private-subnet-5
    nodeLabels:
        role: fluentd
    additionalSecurityGroups:
        - ${TF_VAR_APP_SG_ID}
    iam:
        profile: ${TF_VAR_FLUENTD_PROFILE_ARN}
