terraform.tfvars
.env
.terraform/
.vscode/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
clobee-key.pem
.terraform.*
cluster.yaml
ig-backend.yaml
ig-frontend.yaml
ig-master.yaml
ig-master-a.yaml
ig-master-a-2.yaml
ig-master-c.yaml
ig-bastion.yaml
ig-harbor.yaml
ig-fluentd.yaml
inventory.ini
fluentd-secret.yaml
spring-env-secret.yaml